:root {
    --navbar-bg-color: hsl(0, 0%, 15%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    color: #444444;
}


/* start styling navbar*/

.container {
    max-width: 1000px;
    padding-left: .4rem;
    padding-right: .4rem;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    --navbar-height: 64px;
    position: fixed;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    z-index: 99999999999999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar-item {
    margin: 0.4em;
    width: 100%;
}

.home-link,
.navbar-link {
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1 px solid transparent;
}

.home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
}

.navbar-link {
    /* justify-content: center;
    width: 100%; */
    border-radius: 5px;
}

.parent {
    display: block;
    position: relative;
    float: left;
    line-height: 30px;
}

.parent ::parent {
    overflow: auto
}

.parent a {
    margin: 10px;
    color: #fff;
    text-decoration: none;
}

.parent:hover>ul {
    display: block;
    position: absolute;
}

.child {
    display: none;
}

.child li {
    background-color: #ccc;
    line-height: 50px;
    border-bottom: #CCC 1px solid;
    border-right: #CCC 1px solid;
    width: 100%;
}

.child li a {
    color: #000000;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    min-width: 10em;
}

ul ul ul {
    left: 100%;
    top: 0;
    margin-left: 1px;
}

li:hover {
    background-color: #3a3c3d;
}

.parent li:hover {
    background-color: #2A3F55;
}

.expand {
    font-size: 12px;
    float: right;
    margin-right: 5px;
}

.expand::parent {
    overflow: auto;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1 px solid transparent;
    padding: .9rem;
}

.navbar ul li span {
    color: #ffffff;
}

#navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-text-color);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
    transform: rotate(-45deg);
}

#navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
}

#navbar-toggle[aria-expanded="true"]+#navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
}

.navbar-links {
    list-style: none;
    position: absolute;
    /* background-color: var(--navbar-bg-color); */
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"]+#navbar-menu .navbar-links {
    padding: 1em;
}

@media screen and (min-width: 700px) {
    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
        display: none;
    }
    #navbar-menu,
    #navbar-toggle[aria-expanded="true"] #navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }
    .navbar-links,
    #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
}


/* end styling navbar*/

.item {
    /* height: auto; */
    position: relative;
    max-width: 100%;
    overflow-x: hiddenn
}

.layout2 {
    /* background-color: rgba(0, 0, 0, .5); */
    opacity: .2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2A3F55;
    padding: 0 3rem
}

.layout2 i {
    font-size: 3rem;
}

#caption {
    padding: 1.2rem;
    color: black;
}

.item-caption span {
    color: #3498db;
}

.item .item-caption {
    width: 80%;
    position: absolute;
    bottom: 20%;
    right: 6%;
    margin: auto;
    text-align: center;
    display: flex;
    line-height: 3;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.item .item-caption button {
    padding: .6rem 1.2rem;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 5rem;
    border: none;
    text-transform: uppercase;
}

.item .item-caption button a {
    font-size: .7rem;
    color: #fff;
    border: 1px solid black;
    border-radius: 3%;
    padding: 1rem;
}

.item .item-caption button a:hover {
    background-color: #3498db;
    border: none;
}

.item .item-caption button a {
    text-decoration: none;
    font-size: 1.4rem;
}

nav#slidehow_nav {
    margin-top: -10rem;
    position: relative;
    z-index: 100;
}

nav#slidehow_nav {
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    /* overflow: auto; */
}

nav#slidehow_nav li {
    float: left;
    background-color: white;
    list-style-type: none;
    text-align: center;
    margin-left: 1px;
}

nav#slidehow_nav a {
    display: block;
    height: 20px;
    width: 25px;
    padding-top: 5px;
    color: #000;
    text-decoration: none;
}

nav#slidehow_nav a:hover {
    background: #3498db;
}


/* end styling slider */


/* start teams section */

.heading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading h2 {
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.1);
    letter-spacing: 10px;
    text-transform: uppercase;
}

.heading h4 {
    text-transform: uppercase;
    font-size: 2rem;
    position: absolute;
    letter-spacing: 10px;
}

.team {
    overflow: auto;
    padding: 7rem;
    margin-top: 3rem;
}

.member {
    /* background-color: tomato; */
    width: 33.333333%;
    position: relative;
    border: solid 5px #fff;
    text-align: center;
    color: #fff;
    overflow: hidden;
    float: left;
    box-shadow: 1px 2px 4px#ccc;
}

.member img {
    width: 100%;
    transition: transform 1s 1s;
}

.member-caption {
    background-color: rgba(42, 63, 85, 0.7);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

.member:hover .member-caption {
    opacity: 1;
    transform: rotate(360deg);
}

.member:hover img {
    transform: scale(1.2, 1.2);
}

.member-caption h2 {
    background-color: #2A3F55;
    padding: 10px;
    margin: 0;
    position: relative;
    left: 120%;
    transition: left 1s 2s;
}

.member-caption p {
    font-size: 20px;
    padding: 10px 25px;
    position: relative;
    left: 120%;
    transition: left 1s 2.5s;
}

.member:hover .member-caption h2 {
    left: 0;
}

.member:hover .member-caption p {
    left: 0;
}

@media screen and (max-width: 768px) {
    .member {
        width: 100%
    }
}


/* end teams section */


/* start contact form */

.contactForm-container {
    padding: 1px;
    width: 100%;
    background-color: white
}

.contactForm {
    width: 56%;
    margin: auto;
    padding: 1rem;
}

.section8 .one {
    margin: auto;
    width: 9rem;
    height: .2rem;
    background-color: rgb(153, 43, 43);
}

form {
    padding-top: 2rem;
}

.form-control {
    width: 100%;
    display: block;
    line-height: 2;
    color: black;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 6px 12px
}

.contactForm-title {
    text-align: center
}

.fname,
.email {
    width: 49%;
    float: left;
    line-height: 2;
    padding: .2rem;
    margin-left: .1rem;
    border-radius: 4px;
    /* border: 1px solid white */
}

form {
    overflow: auto;
}

.submit {
    padding: .8rem 2.3rem;
    background-color: #ff305b;
    color: white;
    border-radius: .4rem
}

.contactForm .contactForm-title {
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize
}


/* end contact form */


/* end contact form */


/* start styling slider */